@media only screen and (max-width: 800px){
.mainjobs{

    font-size: 20px;;
}

.mainjobs span{

margin-top:20px;
margin-left:10px;
}
.mainjobs img{
    width: 40px;
    height:40px;
}

}
@media only screen and (min-width: 800px){


.mainjobs span{

margin-left:30px;
margin-right:30px;
}

}