.body-container {
  position: relative;
}

.marker {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
}

.hover-box {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.hover-text {
  visibility: hidden;
  width: 120px;
background-color: black;
  color:white;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: -125%; 
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.marker:hover .hover-text {
  visibility: visible;
  opacity: 1;
}
