


@media only screen and (max-width: 800px) {
  .navlap {
    display: none;
  }

  .nav-text {
    display:none;
  
  }
 

}
 @media only screen and (min-width:800px){

    .slap{

        display: none;
 
    }
 }
